{% extends "calculator/layout.html" %}



{% block body %}
    {% if user.is_authenticated %}
        <div class="container--px">
            <h2>Edit Transaction</h2>
            <div class="form">
                <form action="{% url 'item' item.pk %}" method="post">
                    {% csrf_token %}
                    <div>
                        <input  name="item" value="{{ item.item}}" type="text" autocomplete="off" autofocus required>
                    </div>
                    <div>
                        <input name="cost" value="{{ item.cost }}" type="number" min="0.00" max="10000.00" step="0.01" autocomplete="off" required>
                    </div>
                    <div>
                        <button class="update" type="submit">Update</button>
                        <a href="{% url 'transactions' %}" alt="cancel"><button class="cancel" type="button">Cancel</button></a>                </div>
                </form>
            </div>
        </div>
    {% endif %} <!--user authenticated-->

{% endblock %}