//MOBILE
img {
    width: 100%;
    max-width: 38em;
  
}

.index {
    
    h1, h2, h3, h4, p {
        margin: 0;
    }
    p {
        color: $primary_soft;
        font-weight: 200;
        font-size: 1rem;
    }
    h1 {
        font-size: 3rem; 
        font-size: clamp(2.1rem, 7vw, 3.2rem);
        font-weight: 800;
        line-height: 1.1;
    }
    h2 {
        font-size: 1.9rem; 
        font-size: clamp(1.5rem, 4.5vw, 1.9rem);
    }
    h3, h4 {
        color: $primary_soft;
    }
    .welcome {
        background-color: $primary_v_soft;
        background-image: url(../images/header-bg-50.png); //CHANGE IN PRODUCTION
        background-position: center;
        background-repeat: no-repeat;
        
        &-subtitle {
            color: $primary_soft;
            font-weight: 400;
            margin-top: .5em;
            margin-bottom: .4em;
        }
        .bold {
            font-weight: 500;
        }
        &-title, &-subtitle, &-text {
            max-width: 44rem;
            margin-left: auto;
            margin-right: auto;
        }
    }



    .start {
        position: relative;
        p, h1, h2, h3, h4, a, a:visited {
            color: $grey;
        }
        a:hover {
            color: $secondary;
        }
        background-color: rgba($primary, 0.9);
        
        &-title {
            margin: .5em 0 2em;
            font-size: 1.9rem; 
            font-size: clamp(1.8rem, 5vw, 2.6rem);
            display: inline-block;
            &::after {
                position: relative;
                display: block;
                content: '';
                width: 103%;
                max-width: 18rem;
                height: 3px;
                border-radius: 50%;
                background-color: $grey;
                transform: rotate(-1deg);
                margin-top: -.27rem;
                
            }
        }

        p {
            margin-bottom: 5em;
        }
        img {
            display: block;
            margin: 1.5em auto;
            border-radius: 8px;
            
        }
    }
    .step {
        
        color: $grey;
        display: none;
        width: 88vw;
        
        
        &.show {
            display: block;
        }
        
        &-title {
            font-size: 1.7em;
            margin-bottom: .3em;
            letter-spacing: 4px;
            max-width: 15rem;
            text-align: center;
            
        }
        &-subtitle {
            font-size: 1.5em;
            margin-bottom: .6em;
        }
        &-text {
            max-width: 100%;
        }
        
    }

    .btn {
        position: relative;
        display: inline-block;
        font-weight: 600;
        font-size: 1.3em;
        padding: 8px;
        background-color: $secondary;
        border: 3px solid $secondary;
        color: white;
        border-radius: 4px;
        transition: color 400ms ease-in-out;
        grid-column: 1 / -1;
        grid-row: -1;
        justify-self: center;
        
        animation: pulse .5s infinite alternate;     
        
        &:hover {
            color: $primary_soft;
            animation-play-state: paused;
        }

    }

    
    .img-container {
        position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
        max-width: 38em;
        height: 21.625rem; //FIX THIS ISSUE SHOULD BE DYNAMIC
        max-height: 55vw;
        margin: 0 auto;
    }

    .description-container {
        max-width: 38rem;
        margin: 1rem auto;
        p {
            max-width: 100%;
            margin: 0;
            font-weight: 100;
        }
    }

    .title-container {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 42em;
        margin: 0 auto 1rem;
        

    }
    .step-img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: transform 400ms ease-in-out;
    }


    .chev-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 12vw;
        width: 12vw;
        max-height: 5rem;
        min-height: 3.562rem;
        max-width: 5rem;
        min-width: 3.562rem;
        background-color: rgba(black, 0.6);
        border-radius: 50%;
        //padding: 2.5em;
    }
    .chev-select {
        position: relative;
        display: block;
        font-size: 3rem;
        font-size: clamp(2.1rem, 10vw, 3rem);
        z-index: 1;
        color: $grey;
        transition: color 250ms ease-in-out;

        &:hover {
            color: rgba($secondary, .8);
        }
    }


    #left {
        left: 0;
    }
    #right {
        right: 0;
    }












    //DESKTOP
    @media screen and (min-width: 53em) { //was 52em
        p {
            font-size: 1.1rem;
        }

        

        /* section {
            
            padding: 40px 0 60px; 
            
        } */

         
        .welcome {
            display: grid;
            grid-template-columns: minmax(1em, auto) fit-content(46em) minmax(1em, auto);
            grid-template-rows: repeat(3, auto);
            padding: 4em 0 5em;
            text-align: center;
            p {
                justify-self: center;
                max-width: 36rem;
            }
            &-title, &-subtitle, &-text {
                grid-column: 2;
            }
            &-title {
                grid-row: 1;
            }
            &-subtitle {
                grid-row: 2;
                margin-bottom: 1.2em;
                margin-top: .3em;
            }
            &-text {
                grid-row: 3;
            }

        }
        .start {
            display: grid;
            grid-template-columns: minmax(4em, 1fr) minmax(21rem, 38rem) minmax(12rem, 25rem) minmax(4em, 1fr);
            grid-template-rows: repeat(2, auto);
            gap: 3em;
 
            //background image
         /*    &-bg {
                width: 100%;
                background-image: url(../images/bg_square_ow.png);// CHANGE IN PRODUCTION
                grid-column: 5 / -1;
                grid-row: 1 / -1;
                background-position: right;
                background-size: contain;
                background-repeat: no-repeat;
                z-index: -100;
                
            } */
             .title-container {
                position: static;
            }

            .chev-container {
                position: absolute;
            
                &-left {
                    top: 50%;
                    left: 2vw;
                }
                &-right {
                    top: 50%;
                    right: 2vw;
                    
                }
            }
            &-title {
                grid-column: 2;
                grid-row: 1;
                margin: .7em 0 .5em;
            }

            .step {
                width: 100%;
                max-width: 30rem;
                

                &-title {
                    display: none;
                }

            }
            .step1{
                .step-subtitle::before {
                    content: '1. ';
                }
            }
            .step2{
                .step-subtitle::before {
                    content: '2. ';
                }
            }
            .step3
            {
                .step-subtitle::before {
                    content: '3. ';
                }
            }
            .step4
            {
                .step-subtitle::before {
                    content: '4. ';
                }
            }
            

            .img-container {
                grid-column: 2;
                grid-row: 2;
            }
            .description-container {
                grid-column: 3;
                grid-row: 2;
                
            }
            
           
        }
    }

}
