//MOBILE
img {
    width: 100%;
    max-width: 38em;
  
}
.index {
    
    h1, h2, h3, h4, p {
        margin: 0;
    }
    p {
        color: $primary_soft;
        font-weight: 200;
        font-size: 1rem;
    }
    h1 {
        font-size: 3rem; 
        font-size: clamp(2.1rem, 7vw, 3.2rem);
        font-weight: 800;
        line-height: 1.1;
    }
    h2 {
        font-size: 1.9rem; 
        font-size: clamp(1.5rem, 4.5vw, 1.9rem);
    }
    h3, h4 {
        color: $primary_soft;
    }
    .welcome {
        background-color: $primary_v_soft;
        background-image: url(../images/header-bg-50.png); //CHANGE IN PRODUCTION
        background-position: center;
        background-repeat: no-repeat;
        
        &-subtitle {
            color: $primary_soft;
            font-weight: 400;
            margin-top: .5em;
            margin-bottom: .4em;
        }
        .bold {
            font-weight: 500;
        }
    }

    .start {
        
        &-title {
            
            margin: .5em 0 2em;
            font-size: 1.9rem; 
            font-size: clamp(1.8rem, 4.5vw, 2.3rem);
            display: inline-block;
            &::after {
                position: relative;
                display: block;
                content: '';
                width: 103%;
                max-width: 18rem;
                height: 3px;
                border-radius: 50%;
                background-color: $secondary;
                transform: rotate(-1deg);
                margin-top: -.27rem;
                z-index: -100;
            }
        }

        p {
            margin-bottom: 5em;
        }
        img {
            border-radius: 8px;
            margin: 1.5em 0;
            
        }
    }
    .step {
  
        &-title {
            font-size: 1.375rem;
            margin-bottom: .3em;
        }
        &-subtitle {
            font-size: 1.2rem;
        }
    }

    .btn {
        position: relative;
        display: inline-block;
        font-weight: 600;
        font-size: 1.3em;
        padding: 8px;
        background-color: $secondary;
        border: 3px solid $secondary;
        color: white;
        border-radius: 4px;
        transition: color 400ms ease-in-out;
        grid-column: 1 / -1;
        grid-row: -1;
        justify-self: center;
        
        animation: pulse .5s infinite alternate;     
        
        &:hover {
            color: $primary_soft;
            animation-play-state: paused;
        }

    }



    //DESKTOP
    @media screen and (min-width: 52em) {
        p {
            font-size: 1.1rem;
        }

        section {
            
            padding: 40px 0 60px; 
            
        }

        .start {
            
            &-title {
                margin-bottom: 0;
            }
           
        }
        .welcome {
            display: grid;
            grid-template-columns: minmax(1em, auto) fit-content(46em) minmax(1em, auto);
            grid-template-rows: repeat(3, auto);
            padding: 4em 0 5em;
            text-align: center;
            p {
                justify-self: center;
                max-width: 36rem;
            }
            &-title, &-subtitle, &-text {
                grid-column: 2;
            }
            &-title {
                grid-row: 1;
            }
            &-subtitle {
                grid-row: 2;
                margin-bottom: 1.2em;
                margin-top: .3em;
            }
            &-text {
                grid-row: 3;
            }

        }
        .start {
            display: grid;
            grid-template-columns: 1fr repeat(9, fit-content(5em)) 1fr;
            grid-template-rows: repeat(3, auto);
            gap: 3em;

            //background image
            &-bg {
                width: 100%;
                background-image: url(../images/bg_square_ow.png);// CHANGE IN PRODUCTION
                grid-column: 5 / -1;
                grid-row: 1 / -1;
                background-position: right;
                background-size: contain;
                background-repeat: no-repeat;
                z-index: -100;
                
            }
            .step-1, .step-3, .start-title {
                grid-column: 2 / span 4;
            }        
            .step-2, .step-4 {
                grid-column: 7 / span 4;
            }
            .step-1, .step-2 {
                grid-row: 2;
            }        
            .step-3, .step-4 {
                grid-row: 3;
            }        
            &-title {
                grid-row: 1;
            }
            //adds a little space to the center
            &-space {
                grid-column: 6;
                grid-row: 1 / span -1;
                width: 2rem;
            }
        }
    }


}



