.paginator {
    button {
        display: inline-block;
        visibility: hidden;
        border: solid $primary 1px;
        border-radius: 4px;
        padding: .5em;
        margin: .4em .1em;
        font-size: .8em;
        background-color: $bg_color_light;
        transition: color 250ms ease-in-out;

        &.show {
            visibility: visible;
        }

        &:hover {
            color: $secondary;
            
        }
    }
    span {
        font-size: .8em;
        margin: 0 .6em;
        color: $dblend;
    }
}