.table {
    
    table {
        border-spacing: 0; // works like border collapse 
        width: 100%;
        margin-top: .9em;
        color: $dblend;
        font-size: .9em;
        &.large {
            @include breakpoint-min(medium){
                font-size: 1.2em;
            }

            tr:first-child th:first-child{
                border-top-left-radius: 7px;
            }
            tr:first-child th:last-child{
                border-top-right-radius: 7px;
            }

            tr:last-child td:first-child {
                border-bottom-left-radius: 7px;
            }
            
            tr:last-child td:last-child {
                border-bottom-right-radius: 7px;
            }
        }
        
    }
    th, td {
        padding: .5em;
        text-align: center;
        border: solid $primary_soft 1px;
        &.edit {
            padding: .5em .1em;
            width: 76px;
            min-width: 76px;
            border: none;
        }

        &.negative {
            color: $danger;
        }
        &.amount {
            width: 60px;
        }

    }
    .table_toggle {
        //show all table columns desktop
        @include breakpoint-min(medium){
            display: table-cell;
        }
        //hide columns for mobil
        display: none;
        span {
            // show toggle column arrows for mobile and hide for desktop
            @include breakpoint-min(medium){
                display: none;
            }
            transition: ease-in-out all 250ms;
            line-height: .8;
            font-size: 1.5em;
            &.arrow_right {
                margin-left: 5vw;
                margin-right: 0;
            }
            font-size: 1.5em;
            &.arrow_left {
                margin-right: 5vw;
                margin-left: 0;
            }
            &:hover {
                color: $secondary;
                cursor: pointer;
            }
        }

        &.active {
            display: table-cell;
        }
    }

    th {
        background-color: $primary_soft;
        color: white;
        &.edit {
            background-color: white;
            color: $primary;
        }
    }
    a {
        font-size: 1rem;
        color: $secondary;
        margin: 0 .3em 0 .3em;
        border: solid 0.5px $secondary;
        border-radius: .2em;
        padding: .25em;

    }
    // edit and delet buttons
    a:hover {
        color: white;
        background-color: $secondary;
    }
}

.table_container {

    
    box-shadow: 0px 0px 5px 1px rgb(182, 182, 182);
    max-width: 32.5em;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;

    @include breakpoint-min(large){
        max-width: 40em;
        width: 500px;
    }
    
    
    
    .table {
        margin: 0 1em 1em 1em;
        display: none;
        &.active{
            display: block;
        }
    }

    .table_buttons {
        display: flex;

        button {
            font-weight: 600;
            flex: 1;
            padding: .7em 0;
            border: 2px solid white;
            font-size: 1rem;
            font-weight: bold;
            background-color: $pale;
            outline: none;
            color: $primary_soft;
            transition: ease-in-out all 250ms;
            

            &.active {
                background-color: white;
            }

            //table selector tabs
            &:hover {
                border-bottom: 2px solid $primary;
                color: $secondary;
            }
        }
    }
}
.trans_container {
    @include breakpoint-min(large){
        max-width: 1200px;
        margin: 3em auto;
        .accomp {
            margin-right: 2em;
            min-width: 337px;
        }
    }
    
        
       
    ul {
        margin-bottom: 2rem;
        
        li {
            line-height: 1.5;
            font-size: 1.1rem;
            color: rgb(58, 58, 58);
        }
    }

}
.new_trans_container {
    @include breakpoint-min(large){
        max-width: 1200px;
        margin: 0 auto;
    }

}
.square_container {
    @include breakpoint-min(large){
        max-width: 1200px;
        margin: 2em auto;
        .accomp {
            margin-left: 2em;
            min-width: 337px;
            max-width: 337px;
            line-height: 1.5;
        }    
        .table--square{
            width: 500px;
            order: -1;
        }
    
    }
    .accomp{
        max-width: 32.5rem;
    }
    .table--square{
        table {
            margin-right: 1rem;
            max-width: 32.5rem;
        }
    }

}

